@using TechFlurry.Utils.Extensions.DateTime
@typeparam TModel


<tr id="@Item.GetHashCode()" class="@selectedItemCssClass" @onclick="OnRowClicked" style="@(AllowRowSelection ? " cursor: pointer;" : string.Empty)" @attributes="RowAttributes">
    @if (SerialNumber is not null)
    {
        if (Table is DataTable<TModel>)
        {
            <th scope="row">@SerialNumber</th>
        }
        else
        {
            <th scope="row">@SerialNumber</th>
        }
    }
    @{
        var visibleColumns = Columns.Where(x => x.IsVisible == true);
    }
    @foreach (var column in visibleColumns)
    {
        var cssClass = string.Empty;
        var fontCss = string.Empty;
        if (column is DataColumn<TModel>)
        {
            var dataColumn = (DataColumn<TModel>)column;
            cssClass += " " + dataColumn.RowCss;
            if (dataColumn.TextColor is not null)
            {
                fontCss += " text-" + dataColumn.TextColor.ToString().ToLower();
            }
            if (dataColumn.FontSize is not null)
            {
                fontCss += " font-weight-" + dataColumn.FontSize.ToString().ToLower();
            }
            if (dataColumn.FontWeight is not null)
            {
                fontCss += " font-size-" + dataColumn.FontWeight.ToString().ToLower();
            }
        }
        if (column.TextAlignment == TextAlignment.Right)
        {
            cssClass += " text-right";
        }
        else if (column.TextAlignment == TextAlignment.Center)
        {
            cssClass += " text-center";
        }
        if (column.RowTemplate is not null)
        {
            <td class="@cssClass @fontCss">@column.RowTemplate(Item)</td>
        }
        else if (column.ChildContent is not null)
        {
            <td>@column.ChildContent</td>
        }
        else if (column.Property is not null)
        {
            var expression = column.Property.Compile();
            var result = expression.DynamicInvoke(Item);
            <td class="@cssClass">
                <span class="@fontCss">
                    @result
                </span>
            </td>
        }
        else
        {
            <td>
                <span class="@fontCss">
                </span>
            </td>
        }
    }
</tr>

@code {
    private string selectedItemCssClass;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        SelectedItems ??= new List<TModel>();
        if (AllowRowSelection)
        {
            if (SelectedItems.Any(x => x.Equals(Item)))
            {
                DoRowSelectionOperation();
            }
            else
            {
                selectedItemCssClass = string.Empty;
            }
        }
        else
        {
            selectedItemCssClass = string.Empty;
        }
    }

    [CascadingParameter(Name = "Table")]
    private TableBase<TModel> Table { get; set; }

    [Parameter]
    public List<ColumnBase<TModel>> Columns { get; set; }
    [Parameter]
    public TModel Item { get; set; }
    [Parameter]
    public Dictionary<string, object> RowAttributes { get; set; }

    [Parameter]
    public int? SerialNumber { get; set; }

    [Parameter]
    public bool AllowRowSelection { get; set; } = false;

    [Parameter]
    public ThemeColors? SelectedRowColor { get; set; }

    [Parameter]
    public Func<MouseEventArgs, TModel, Task> RowClickedEvent { get; set; }

    [Parameter]
    public List<TModel> SelectedItems { get; set; }

    public void ClearSelection()
    {
        if (AllowRowSelection)
        {
            selectedItemCssClass = string.Empty;
            SelectedItems.Remove(Item);
            StateHasChanged();
        }
    }

    private async void OnRowClicked(MouseEventArgs args)
    {
        if (AllowRowSelection)
        {
            if (SelectedItems.Any(x => x.Equals(Item)))
            {
                SelectedItems.Remove(Item);
                selectedItemCssClass = string.Empty;
            }
            else
            {
                SelectedItems.Add(Item);
                DoRowSelectionOperation();
            }
        }
        else
        {
            selectedItemCssClass = string.Empty;
        }
        await RowClickedEvent(args, Item);
        StateHasChanged();
    }
    private void DoRowSelectionOperation()
    {
        if (!Table.IsDark)
        {
            if (SelectedRowColor is not null)
            {
                selectedItemCssClass = " table-" + SelectedRowColor.ToString().ToLower();
            }
            else
            {
                selectedItemCssClass = " table-active";
            }
        }
        else
        {
            if (SelectedRowColor is not null)
            {
                selectedItemCssClass = " bg-" + SelectedRowColor.ToString().ToLower();
            }
        }
    }
}
