
@typeparam TValue
@inherits RadioGroupBase<TValue, string>

<div class="radio-@(IsInline?"inline":"list")">
    @foreach (var item in Items)
    {
        <label class="radio @(Style is not null?$"radio-{Style?.ToString().ToLower()}":string.Empty) @(IsDisabled?$"radio-disabled":string.Empty) @(IsAccent?$"radio-accent":string.Empty) @(Color is not null?$"radio-{Color?.ToString().ToLower()}":string.Empty) @(IsOutlined || IsDoubledOutlined?$"radio-outline{(IsDoubledOutlined?" radio-outline-2x":string.Empty)}":string.Empty)">
            <input type="radio" name="@name" @attributes="inputAttributes"
               value="@item.Key" checked="@(item.Key.Equals(Value))" @onchange="OnChange" />
            <span></span>
            @item.Value
        </label>
    }
</div>
@if (!string.IsNullOrEmpty(HelpText))
{
    <span class="form-text text-muted">@HelpText</span>
}

@code {
    [Parameter]
    public bool IsDisabled { get; set; }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (IsDisabled)
        {
            inputAttributes.Add("disabled", "disabled");
        }

    }
}
